*{

    font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


input#url-input:focus {
    opacity: 1 !important;
}

/*.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}*/

.card{
    font-size:14px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.icon-bar .material-icons{
    font-size:36px;

}


.university--header{
    text-align:center;
}

.university--logo {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin: 30px auto 5px;
    padding:10px;
    background-color: black;
    color: white;
    text-align: center;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*background: rgb(223, 223, 223);*/
    background: rgb(255, 255, 255);
    border: 4px solid rgb(223, 223, 223);
    overflow: hidden !important;
}

.university--logo img {
    height:40px;
    width:40px;

}

.list-group-item i.material-icons {
    font-size: 31px;
    padding-right: 15px;
}